*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header1
{
    background-color: rgb(9, 65, 102);
}
.content{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding-block: 15px;
    padding-bottom: 10px;
}
.logo{
    width: 280px;
}
.logo img{
    margin-top: 5px;
    width: 100%;
}
.about{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin-bottom: 0;
}
.about li{
    margin-top: 20px;
}
.about .btn{
    margin: 0px 0px 5px;
}
.about li>a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}
.about li>button{
    font-size: 16px;
    color: white;
    background-color: rgb(31, 139, 212);
    padding: 10px;
    border: none; 
    border-radius: 5px;  
    cursor: pointer;
}
.about li>button:hover{
    background-color: white;
    color: rgb(31, 139, 212);
    outline: 2px solid rgb(31, 139, 212);
}
.about li>i{
    margin-left: 10px;
}
.about li>a:hover{
    color: rgb(31, 139, 212);
}
.about li:hover{
    color: rgb(31, 139, 212);
}
.dropdown-1,.dropdown-2{
    background-color: black;
    position: absolute;
    padding: 20px;
    margin-top: 15px;
    list-style: none;
    display: none;
    padding-top: 0;
    box-shadow: 0 0 5px black
}
.dropdown-1 li>a , .dropdown-2 li>a{
    font-size: 16px;
}
.a-menue:hover .dropdown-1{
    display: block;
}
.ser-menue:hover .dropdown-2{
    display: block;
    display: flex;
}
/* .ser-menue:hover .dropdown-2{
    display: block;
    display: flex;
}
.carousel-item {
    height: 650px;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.carousel-item h2{
 font-size: 54px;
}
.carousel-item p{
    font-size: 40px;
}
.carousel-caption{
    bottom: 11.25rem;
}
.carousel{
    padding-top: 32px;
}
.dropdown-menue{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: none;
}
.content-1 i{
    font-size: 30px;
    cursor: pointer;
}
.about-1 li{
    list-style: none;
    padding-top: 10px;
}
.about-1 li>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.about-1 li>a:hover{
    color: rgb(31, 139, 212) ;
}
.about-1 .a-menue>.dropdown-1 ,.about-1 .ser-menue>.dropdown-2 {
    position: absolute ;
    right: 84%;
    top: 0;
    z-index: 10;
}
.about-1 {
    position: relative;
    width: 100%;
}
.about-1 .a-menue>.dropdown-1{
    width: 260px;
}
.about-1 .ser-menue>.dropdown-2{
    width: 540px;
}
.dropdown-menue{
    padding-top: 15px;
}
.about-1{
    display: none;
    position: absolute;
    background-color: rgb(0, 51, 85);
    right: 0;
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px black
}
.content-1{
    position: relative;
}
.about-1 li{
    padding-left: 50px;
}
.a-menue .dropdown-1>li{
    padding-left: 20px;
} */